<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" cotent="width-device-width, initial-scale=1.0">
  <title>Blog Ninja | <%= title %></title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        OOPS, PAGE NOT FOUND :u

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>